<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= @user.full_name %></h1>
    <%= image_tag avatar_for(@user), class: 'avatar' %>
    <% if current_user != @user %>
      <% if current_user.friends.include?(@user) %>
        <% if current_user.friendships.find_by_friend_id(@user.id).accepted? %>
          <%= link_to "Remove friend", friendship_path, method: :delete, class: 'btn btn-primary' %>
          <% if @user.posts.any? %>
            <% @user.posts.each do |post| %>
              <div class="post">
                <p><%= post.content %></p>
                <% if post.likes.any? %>
                  <p><%= pluralize(post.likes.count, "like") %> </p>
                <% end %>
                <% if current_user.liked_posts.include?(post) %>
                  <%= form_tag(like_path(Like.find_by_post_id(post.id).id), method: :delete) do %>
                    <%= submit_tag "Unlike", class: 'btn like-button' %>
                  <% end %>
                <% else %>
                  <%= form_tag(likes_path, method: :post) do %>
                    <%= hidden_field_tag 'post_id', post.id %>
                    <%= submit_tag "Like", class: 'btn btn-primary like-button' %>
                  <% end %>
                <% end %>
                <% if post.comments.any? %>
                  <p><%= pluralize(post.comments.count, "comment") %></p>
                  <% post.comments.each do |comment| %>
                    <div class="comment col-md-offset-1">
                      <%= image_tag avatar_for(comment.user), class: 'comment-avatar' %>
                      <p><%= comment.user.full_name %></p>
                      <p><%= comment.content %></p>
                      <% if comment.user == current_user %>
                        <p><%= link_to "Edit", edit_comment_path(comment) %> | <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure?"} %></p>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <%= form_tag(comments_path, method: :post) %>
                <%= hidden_field_tag 'post_id', post.id %>
                <%= text_area_tag 'comment[content]', "", class: 'form-control' %>
                <%= submit_tag 'Post comment', class: 'btn btn-primary' %>
              </div>
            <% end %>
          <% else %>
            <p>This user has no posts!</p>
          <% end %>
        <% else %>
          <%= link_to "Remove friend request", friendship_path, method: :delete, class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <%= form_tag friendships_path, method: :post %>
        <%= hidden_field_tag 'friend', @user.id %>
        <%= submit_tag "Send friend request", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <h1>Create a new post</h1>
      <%= form_tag(posts_path, method: :post) %>
      <%= text_area_tag 'post[content]', "",class: 'form-control' %>
      <%= submit_tag "Create post", class: 'btn btn-primary' %>
      <% if current_user.posts.any? %>
        <h1>My posts</h1>
        <% current_user.posts.each do |post| %>
          <div class="post">
            <p><%= post.content %></p>
            <% if post.likes.any? %>
              <p><%= pluralize(post.likes.count, "like") %></p>
            <% end %>
            <% if post.comments.any? %>
              <p><%= pluralize(post.comments.count, "comment") %></p>
              <% post.comments.each do |comment| %>
                <div class="comment col-md-offset-1">
                  <p><%= comment.user.full_name %></p>
                  <p><%= comment.content %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>