<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if current_user != @user %>
      <% if current_user.friends.include?(@user) %>
        <% if current_user.friendships.find_by_friend_id(@user.id).accepted? %>
          <%= link_to "Remove friend", friendship_path, method: :delete, class: 'btn btn-primary' %>
          <% if @user.posts.any? %>
            <% @user.posts.each do |post| %>
              <div class="post">
                <p><%= post.content %></p>
                <% if current_user.liked_posts.include?(post) %>
                  <%= form_tag(like_path(Like.find_by_post_id(post.id).id), method: :delete) %>
                  <%= submit_tag "Unlike", class: 'btn like-button' %>
                <% else %>
                  <%= form_tag(likes_path, method: :post) %>
                  <%= hidden_field_tag 'post_id', post.id %>
                  <%= submit_tag "Like", class: 'btn btn-primary like-button' %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>This user has no posts!</p>
          <% end %>
        <% else %>
          <%= link_to "Remove friend request", friendship_path, method: :delete, class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <%= form_tag friendships_path, method: :post %>
        <%= hidden_field_tag 'friend', @user.id %>
        <%= submit_tag "Send friend request", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <h1>Create a new post</h1>
      <%= form_tag(posts_path, method: :post) %>
      <%= text_area_tag 'post[content]', "",class: 'form-control' %>
      <%= submit_tag "Create post", class: 'btn btn-primary' %>
      <% if current_user.posts.any? %>
        <% current_user.posts.each do |post| %>
          <div class="post">
            <p><%= post.content %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>